/* apply styles to <header> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* padding: 20px 35px; */
    /* background-color: whitesmoke; */
    text-align: center;
    text-decoration-color: blue;

}

.page-title {
    /* padding: 20px 35px; */
    text-align: center;
    /* background-color: whitesmoke; */
    font-size: 32px;
    font-weight: 800;
    text-decoration-color: blue;

}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    /* font-size: 22px; */
    font-size: 1.55vw;
    /* vw = viwport width, which is related to browser window wise */
}

nav {
    background-color: lightgray;
}


body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    background-color: lightgrey;
}

.profile {}

.repos {}

.card-body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    background-color: lightblue;
}

.card {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    background-color: cornsilk;
}



h1 {
    font-weight: 700;
    text-align: center;
    font-style: initial;
}

h2 {
    font-weight: 500;
    text-align: center;
    font-style: unset;
    font-size: 16px;
    background-color: cornsilk;
}

h3 {
    font-weight: 500;
    text-align: center;
    font-style: unset;
    font-size: 16px;
    background-color: cornsilk;
}

p {
    text-align: center;
    background-color: aliceblue;
}

.search {
    text-align: center;
}

.search-project {
    text-align: center;
}

.byline {
    font-weight: 200;
    font-style: italic;
}

.column {
    float: left;
    width: 33%;
}

/*Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}