/* apply styles to <header> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* padding: 20px 35px; */
    /* background-color: whitesmoke; */
    text-align: center;
    text-decoration-color: blue;
    background-color: cadetblue;

}

.page-title {
    /* padding: 20px 35px; */
    text-align: center;
    /* background-color: whitesmoke; */
    font-size: 32px;
    font-weight: 800;
    text-decoration-color: blue;

}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    /* font-size: 22px; */
    font-size: 1.55vw;
    /* vw = viwport width, which is related to browser window wise */
}

nav {
    background-color: cornsilk;
}


body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    text-align: wrap;
    margin: 0 3% 0 3%;
    background-color: cornsilk;
}

.repos {}

.card-body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    background-color: black;
    border-style: groove;
}

.card {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    padding: 5px;
    text-align: right;
    background-color: cornsilk;
}

.project-examples {
    background-color: black;
    text-decoration-color: lightgray;
}

h1 {
    font-weight: 700;
    text-align: center;
    font-style: initial;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    font-style: bold;
    background-color: lightgray;
    color: black;
    /* background-color: cornsilk; */
}

.profile {
    background-color: lightgray;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    text-indent: 1%;
    font-style: unset;
    background-color: cadetblue;
}

p {
    text-align: left;
    border: 5%;
    margin-left: 10 px;
    /* width: 100%; */
    display: inline-block;
    /* background-color: aliceblue; */
}

.search {
    text-align: center;
}

.search-project {
    text-align: center;
}

.byline {
    font-weight: 200;
    font-style: italic;
}

.column {
    float: left;
    width: 33%;
}

/*Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: cadetblue;
}